@charset "utf-8";

h1 {
	font-family: 'Special Elite', cursive; 
	text-align: top; 
	text-align: center;
	padding: 20px;
	background-color: rgba(550, 550, 550, 0.7);
}

h3 {
	font-family: 'Pacifico', cursive;
}

body {
	background: white;
}

.navbar {
	background-image: url("../Images/NavBar.jpg");
}