@charset "utf-8";

h1 {font-family: 'Pacifico', cursive; 
	text-align: top; 
	padding: 20px;
	background-color: rgba(550, 550, 550, 0.7);
}


h2 {font-family: 'Special Elite', cursive;}

p {font-family: 'Nanum Myeongjo', serif;
font-family: 'Playfair Display', serif;
background-color: rgba(550, 550, 550, 0.7);
}

body {
	background: url("../Images/TeaLeavesBackground.jpg");
	background-attachment: fixed;
	background-size: contain;
	background-size: 800px;
	margin: 0; 
	padding: 0;
}

footer { 
	float: bottom;
	margin-top: 50px;
	margin-bottom: 0px;
	margin-left: 10px;
}

.navbar-nav
 {color: lightgreen; }

.container {
  position: relative; 
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container .content {
  top: 0; /* At the top. Use bottom:0 to append it to the bottom */
	background: rgb(550, 550, 550); /* Fallback color */
  background: rgba(550, 550, 550, 0.7); /* white background with 0.5 opacity */
  color: black; /* Black text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}