@charset "utf-8";

h1 {
	font-family: 'Pacifico', cursive; 
	text-align: top; 
	padding: 20px;
}

h2 {
	font-family: 'Special Elite', cursive;
}

p {
	font-family: 'Nanum Myeongjo', serif;
	font-family: 'Playfair Display', serif;
}

footer { 
	background-image: url("../Images/NavBar.jpg");
	float: bottom;
	margin-top: 50px;
	margin-bottom: 0px;
	margin-left: 10px;
}

.navbar {
	background-image: url("../Images/NavBar.jpg");
}

.img {
	padding: 10px 
}