@charset "utf-8";

h1 {
	font-family: 'Pacifico', cursive; 
	text-align: top; 
	padding: 20px;
	background-color: rgba(550, 550, 550, 0.7);
}

h2 {
	font-family: 'Pacifico', cursive;
	text-align: center;
}

h3 {
	font-family: 'Pacifico', cursive;
	text-align: center;
}

h5 {
	font-family: 'Pacifico', cursive;
	text-align: center;
}

body {
  background: url("../Images/TeaLeavesBackground.jpg");
  background-attachment: fixed;
  background-size: contain;
  background-size: 800px;
  margin: 0; 
  padding: 0;
}

footer { 
	background: rgba(550, 550, 550, 0.7); /* white background with 0.5 opacity */
	float: bottom;
	margin-top: 50px;
	margin-bottom: 0px;
	margin-left: 10px;
}

.facebook { 
	width: 225px;
	height: 232px;
}

.facebook:hover { 
	width: 235px;
	height: 242px;
}

.instagram {
	width: 225px;
	height: 232px;
}

.instagram:hover { 
	width: 235px;
	height: 242px;
}

.button {
	background-color: darkseagreen; 
	height: 50px; 
	width: 700px;
}

.button:hover {
	height: 55px; 
	width: 705px;
}

.container {
  position: relative; 
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container .content {
  top: 0; /* At the top. Use bottom:0 to append it to the bottom */
  background: rgba(550, 550, 550, 0.7); /* white background with 0.5 opacity */
  color: black; /* Black text */
  width: 100%; /* Full width */
}

.shopping {
	float: right;
	margin: 0 100px;
}

@media screen{ 
	}
.img {
	width: 100%;
}